In [1]:
import pandas as pd
import requests
from tqdm import tqdm
from rectools import Columns # 0.3.0
import os

## Getting dataset

In [2]:
url = "https://storage.yandexcloud.net/itmo-recsys-public-data/kion_train.zip"

req = requests.get(url, stream=True)

with open('kion_train.zip', "wb") as fd:
    total_size_in_bytes = int(req.headers.get('Content-Length', 0))
    progress_bar = tqdm(desc='kion dataset download', total=total_size_in_bytes, unit='iB', unit_scale=True)
    for chunk in req.iter_content(chunk_size=2 ** 20):
        progress_bar.update(len(chunk))
        fd.write(chunk)

kion dataset download: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▋| 78.6M/78.8M [00:11<00:00, 5.35MiB/s]

In [3]:
!unzip kion_train.zip

/usr/bin/zsh: /home/usersp/miniconda3/lib/libtinfo.so.6: no version information available (required by /usr/bin/zsh)
Archive:  kion_train.zip
   creating: kion_train/
  inflating: kion_train/interactions.csv
  inflating: __MACOSX/kion_train/._interactions.csv
  inflating: kion_train/users.csv
  inflating: __MACOSX/kion_train/._users.csv
  inflating: kion_train/items.csv
  inflating: __MACOSX/kion_train/._items.csv

In [4]:
interactions = pd.read_csv('kion_train/interactions.csv')
users = pd.read_csv('kion_train/users.csv')
items = pd.read_csv('kion_train/items.csv')

In [5]:
interactions.rename(columns={'last_watch_dt': Columns.Datetime,
                            'total_dur': Columns.Weight}, 
                    inplace=True) 

interactions['datetime'] = pd.to_datetime(interactions['datetime'])

In [6]:
os.makedirs('data', exist_ok=True)
interactions.to_csv('data/interactions.csv')
users.to_csv('data/users.csv')
items.to_csv('data/items.csv')

kion dataset download: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 78.8M/78.8M [00:30<00:00, 5.35MiB/s]

In [10]:
interactions[interactions.item_id == 9506]

         user_id  item_id   datetime  weight  watched_pct
0         176549     9506 2021-05-11    4250         72.0
4         964868     9506 2021-04-30    6725        100.0
445       450170     9506 2021-07-18     848         14.0
1741      683820     9506 2021-06-28    2617         44.0
3681      547714     9506 2021-08-07    5494         93.0
...          ...      ...        ...     ...          ...
5467694   531032     9506 2021-07-17      28          0.0
5468174   314868     9506 2021-06-12    3666         62.0
5468337   118328     9506 2021-07-29     698         12.0
5470092   895204     9506 2021-08-17    9375        100.0
5475470   256613     9506 2021-05-12     684         12.0

[4297 rows x 5 columns]